.swim-nav {
  /* height: 100px;
  z-index: 9999; */
  border-bottom: 0.5px solid #ccc;
  padding: 25px 0;
}

.swim-logo {
  width: 240px;
  margin-left: 30px;
}

.navbar-dark .navbar-toggler {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 10px;
  margin-right: 30px;
}

.navbar-collapse.show {
  background-color: #fff;
  width: 100vw;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.swim-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.navbar-collapse.show .nav-link {
  color: #000 !important;
  padding: 15px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #f5f7f9;
  border-bottom: 1px solid #f5f7f9;
}

.nav-margin {
  margin-right: 30px;
}

.navbar-collapse.show .nav-margin {
  display: none !important;
}

.swim-search {
  margin: auto 20px auto 40px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.swim-nav .btn-outline-success {
  border: 2px solid #fff;
  border-radius: 999px;
  padding: 13px 40px;
  color: #fff;
  font-weight: 500;
}

.swim-nav .btn-outline-success:hover {
  background-color: #fff;
  color: #4f2ec9;
}

.swim-head-inside {
  padding: 60px 40px;
  color: #fff;
}

.swim-head-inside span {
  margin-right: 10px;
}

.about-2nd {
  display: flex;
  justify-content: space-between;
  background-color: #f5f7f9;
  padding: 80px 40px 160px;
}

@media only screen and (max-width: 768px) {
  .about-2nd {
    padding: 80px 30px 100px;
    flex-direction: column;
  }
}

.about-2nd-images {
  display: flex;
  justify-content: space-between;
  min-width: 610px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .about-2nd-images {
    flex-direction: column;
    min-width: 100%;
  }
}

.about-2nd-images img {
  width: 280px;
}

@media only screen and (max-width: 768px) {
  .about-2nd-images img {
    width: 100%;
    margin-top: 35px;
  }
}

.about-2nd-card {
  background-color: #fff;
  width: 280px;
  padding: 40px 30px;
  border-radius: 4px;
  position: absolute;
  bottom: -80px;
  left: 25%;
  box-shadow: 0px 25px 15px -20px rgb(135 138 170 / 20%);
}

@media only screen and (max-width: 768px) {
  .about-2nd-card {
    left: 7%;
    padding: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .about-2nd-card {
    left: 3%;
  }
}

.about-2nd-card img {
  width: 80px;
  margin-bottom: 20px;
}

.about-2nd-content {
  width: 610px;
  padding-left: 60px;
}

@media only screen and (max-width: 768px) {
  .about-2nd-content {
    width: 100%;
    padding-left: 0px;
    margin-top: 150px;
  }
}

.c1st {
  color: #4f2ec9;
  font-weight: 400;
  font-size: 15px;
}

.about-2nd-content .c2nd {
  margin: 18px 20px 50px 0;
}

.about-2nd-content .c4th {
  margin: 50px 0;
}

.about-2nd-content .c5th {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .about-2nd-content .c5th {
    flex-direction: column;
  }
}

.about-2nd-content .c6th {
  position: relative;
}

.about-2nd-content .c6th div {
  width: 170px;
  /* position: absolute; */
  top: 0;
  z-index: 1;
}

.about-2nd-content .c5th h1 {
  color: #4f2ec9;
  font-size: 50px;
  margin-bottom: 20px;
}

/* .about-2nd-content .c5th .circle {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  z-index: 0;
} */

.about-3rd {
  padding: 80px 40px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .about-3rd {
    padding: 80px 20px;
    flex-direction: column;
  }
}

.a3-content {
  width: 610px;
}

@media only screen and (max-width: 768px) {
  .a3-content {
    width: 100%;
  }
}

.a3-content p {
  margin-top: 30px;
}

.a3-2nd {
  margin: 18px 120px 50px 0;
}

@media only screen and (max-width: 768px) {
  .a3-2nd {
    margin-right: 0;
    font-size: 140%;
  }
}

.a3-tabs {
  display: flex;
  justify-content: space-between;
  margin: 18px 180px 50px 0;
}

@media only screen and (max-width: 768px) {
  .a3-tabs {
    flex-direction: column;
  }
}

.btn-outline-reverse {
  color: #fff;
  background-color: #4f2ec9;
  border: 2px solid #4f2ec9;
  border-radius: 999px;
  padding: 13px 40px;
  font-weight: 500;
  margin-top: 35px;
}

.btn-outline-reverse:hover {
  color: #4f2ec9;
  background-color: transparent;
  border-color: #4f2ec9;
}

.a3-images {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .a3-images {
    position: relative;
  }

  .a3-images img {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    margin-top: 35px;
  }
}

.a3-left {
  width: 280px;
  position: absolute;
  left: -70px;
  bottom: 60px;
}

.a3-right {
  width: 280px;
  position: absolute;
  right: 0;
  bottom: -50px;
}

.about-4th {
  background-color: #f5f7f9;
  padding: 80px 40px 100px;
}

.about-4th .c1st,
.about-4th .a4-head {
  text-align: center;
}

.a4-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .a4-cards {
    flex-direction: column;
  }
}

.a4-cards p {
  padding: 40px 45px 50px;
  background-color: #fff;
  width: 390px;
  border-bottom-right-radius: 60px;
}

@media only screen and (max-width: 768px) {
  .a4-cards p {
    width: 100%;
  }
  .a4-cards p ~ div {
    margin-bottom: 35px;
  }
}

.a4-cards p .quote-left {
  display: block;
  font-size: 20px;
  color: #4f2ec9;
  margin-bottom: 10px;
}

.a4-review {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
