.swim-nav {
  /* height: 100px;
    z-index: 9999; */
  border-bottom: 0.5px solid #ccc;
  padding: 25px 30px;
}

.swim-logo {
  width: 240px;
}

.swim-nav .nav-link {
  color: #fff;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.swim-nav .btn-outline-success {
  border: 2px solid #fff;
  border-radius: 999px;
  padding: 13px 40px;
  color: #fff;
  font-weight: 500;
}

.swim-search {
  margin: auto 20px auto 40px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.swim-nav .btn-outline-success:hover {
  background-color: #fff;
  color: #4f2ec9;
}

.swim-head-inside {
  padding: 60px 40px;
  color: #fff;
}

.swim-head-inside span {
  margin-right: 10px;
}

.contact-2nd {
  background-color: #f5f7f9;
  padding: 80px 40px 100px;
}

@media only screen and (max-width: 768px) {
  .contact-2nd {
    padding: 50px 40px 50px;
  }
}

.c2-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

@media only screen and (max-width: 768px) {
  .c2-cards {
    flex-direction: column;
  }
}

.c2-card {
  width: 280px;
}

@media only screen and (max-width: 768px) {
  .c2-card {
    width: 100%;
    margin-bottom: 40px;
  }
}

.c2-card h5 {
  margin: 20px 0;
}

.c2-card p {
  margin-bottom: 3px;
}

.contact-3rd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .contact-3rd {
    padding: 80px 20px 80px;
    flex-direction: column;
  }
}

.contact-3rd .c3-left {
  padding: 0 40px;
}

@media only screen and (max-width: 768px) {
  .contact-3rd .c3-left {
    width: 100%;
  }
}

.contact-3rd .c3-1st {
  color: #4f2ec9;
  font-weight: 400;
}

.contact-3rd .c3-head {
  margin: 15px 0 25px;
}

.contact-3rd .c3-desc {
  margin-right: 50px;
}

.c3-form {
  display: flex;
  width: fit-content;
  border: 1px solid #e7e9ed;
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .c3-form {
    width: 100%;
    flex-direction: column;
  }
}

.c3-form label {
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: 12px;
  color: #828f99;
}

.c3-form input,
.c3-form textarea {
  display: block;
  outline: none;
  border: none;
  resize: none;
  padding: 0 20px 20px;
}

.c3f-left,
.c3f-right {
  padding-top: 16px;
}

.c3f-border {
  border-top: 1px solid #e7e9ed;
  border-bottom: 1px solid #e7e9ed;
}

.c3f-right {
  border-left: 1px solid #e7e9ed;
}

.contact-3rd .c3-right {
  width: 880px;
  height: 820px;
}

@media only screen and (max-width: 768px) {
  .contact-3rd .c3-right {
    width: 110%;
    margin-bottom: -80px;
    margin-left: 0px;
    margin-top: 40px;
  }
}

.contact-3rd .c3-right iframe {
  width: 100%;
  height: 100%;
}

.contact-4th {
  background-color: #f5f7f9;
  padding: 80px 40px 100px;
}

@media only screen and (max-width: 768px) {
  .contact-4th {
    padding: 80px 20px 100px;
  }
}

.c4-1st {
  color: #4f2ec9;
}

.c4-head {
  margin: 20px 0 30px;
}

.c4-desc {
  margin: 0 330px;
}

@media only screen and (max-width: 768px) {
  .c4-desc {
    margin: 0px;
  }
}

.contact-4th .c4-1st,
.contact-4th .c4-head,
.contact-4th .c4-desc {
  text-align: center;
}

.c4-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .c4-cards {
    flex-direction: column;
  }
}

.c4-card {
  width: 390px;
  margin: 0 25px;
}

@media only screen and (max-width: 768px) {
  .c4-card {
    width: 100%;
    margin: 10px auto;
  }
}

.c4-top {
  position: relative;
}

.c4-card .price {
  top: 0px;
  right: 0px;
  width: 90px;
  height: 90px;
  display: flex;
  position: absolute;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 81px;
  background-color: #4f2ec9;
  color: #ffffff;
}

.c4-card .price h5 {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.c4-card .price p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;
  padding-left: 10px;
}

.c4-card .c4c-img img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  transition: opacity 0.2s ease 0s;
}

.c4-card .c4c-img:hover img {
  opacity: 0.8;
}

.c4-card .c4c-body {
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.c4-card .c4cb-1st svg {
  font-size: 12px;
  position: relative;
  top: -2px;
  margin-right: 10px;
  color: #4f2ec9;
}

.c4-card .c4cb-1st span {
  font-weight: 500;
}

.c4-card .c4c-body h4 {
  margin-bottom: 20px;
}

.c4-card .c4c-body .c4cb-div {
  margin: 30px 0 20px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #e7e9ed;
}

.c4-card .c4c-body .c4cb-div div {
  height: 2px;
  margin-bottom: -1px;
  background-color: #52e2bb;
}

.c4cb-foot svg {
  font-size: 14px;
  position: relative;
  top: -2px;
  margin-right: 7px;
  color: #4f2ec9;
}

.c4cb-foot span {
  font-weight: 500;
}

.c4-arrows {
  width: fit-content;
  margin: 60px auto;
}

.c4-arrows .c4-arr {
  padding: 6px 12px 12px;
  /* color: #17191b; */
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}

.c4-arrows .c4-arr:hover {
  background-color: #4f2ec9;
  color: #fff;
}

.c4-last {
  margin: 0 auto;
  width: fit-content;
}

.c4-last span {
  color: #4f2ec9;
  border-bottom: 1px solid #4f2ec9;
}
