.home-swim-nav {
  padding: 25px 40px;
}

@media only screen and (max-width: 768px) {
  .home-swim-nav {
    padding: 25px 30px;
  }
}

.swim-logo {
  width: 240px;
}

.home-page .navbar-toggler {
  color: #4f2ec9;
  border-color: #4f2ec9;
}

.home-swim-nav .nav-link {
  color: #000 !important;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

.home-swim-nav .btn-outline-success {
  border: 2px solid #4f2ec9;
  border-radius: 999px;
  padding: 13px 40px;
  color: #4f2ec9;
  font-weight: 500;
}

.home-swim-nav .swim-search {
  margin: auto 20px auto 40px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
}

.home-swim-nav .btn-outline-success:hover {
  color: #fff;
  background-color: #4f2ec9;
}

.swim-head-inside {
  padding: 60px 40px;
  color: #fff;
}

.swim-head-inside span {
  margin-right: 10px;
}

.home-1st {
  padding: 70px 40px;
  background-color: #f5f7f9;
}

@media only screen and (max-width: 768px) {
  .home-1st {
    padding: 70px 30px;
  }
}

.h1-top {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .h1-top {
    flex-direction: column;
  }
}

.h1t-content {
  width: 610px;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .h1t-content {
    width: 100%;
    margin-bottom: 50px;
  }
}

.h1st {
  color: #4f2ec9;
  font-weight: 400;
  font-size: 15px;
}

.h1-2nd {
  margin: 18px 160px 50px 0;
}

@media only screen and (max-width: 768px) {
  .h1-2nd {
    font-size: 160%;
    margin-right: 0;
  }
}

.h1-desc {
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .h1-desc {
    font-size: 110%;
  }
}

.h1-desc span {
  display: block;
  margin-top: 5px;
}

.h-btn-outline-reverse {
  color: #fff;
  background-color: #4f2ec9;
  border: 2px solid #4f2ec9;
  border-radius: 999px;
  padding: 13px 40px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .h-btn-outline-reverse {
    font-size: 90%;
  }
}

.h-btn-outline-reverse:hover {
  color: #4f2ec9;
  background-color: transparent;
  border-color: #4f2ec9;
}

.h1t-link {
  margin-left: 30px;
  color: #4f2ec9;
  border-bottom: 1px solid #4f2ec9;
  padding-bottom: 4px;
  font-weight: 600;
}

.h1t-cards {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .h1t-cards {
    flex-direction: column;
  }
}

.h1t-cards .c4-card {
  width: 280px;
}

@media only screen and (max-width: 768px) {
  .h1t-cards .c4-card {
    width: 100%;
  }
}

.h1-mid {
  display: flex;
  margin-top: 80px;
}

@media only screen and (max-width: 768px) {
  .h1-mid {
    flex-direction: column;
  }
}

.h1m-content {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .h1m-content {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .h1m-content:last-child {
    margin-bottom: 20px;
  }
}

.h1m-icon {
  color: #4f2ec9;
  background-color: #fff;
  padding: 5px 15px 10px;
  border-radius: 50%;
  font-size: 25px;
  margin-right: 30px;
}

.h1m-desc h6 {
  margin-bottom: 5px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .home-page .about-2nd {
    padding-top: 0;
  }
}

.home-3rd {
  background-color: #f5f7f9;
  position: relative;
}

.h3-bg {
  background-color: #fff;
  width: 63vw;
  height: 600px;
  padding: 100px 40px;
}

@media only screen and (max-width: 768px) {
  .h3-bg {
    width: 100%;
    padding: 100px 30px;
  }
}

.h3-content.s4-left {
  width: 600px;
}

@media only screen and (max-width: 768px) {
  .h3-content.s4-left {
    width: 100%;
  }
}

.h3-content .s3-head {
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .h3-content .s3-head {
    font-size: 160%;
    margin-right: 0;
  }
}

.h3-content p {
  margin-bottom: 50px;
}

.h3-flex {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .h3-flex {
    flex-direction: column;
  }

  .h3-flex div:last-child {
    margin-top: 30px;
  }
}

.h3-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  padding: 100px 40px;
}

@media only screen and (max-width: 768px) {
  .h3-right {
    position: static;
    background-color: #fff;
    height: auto;
  }
}

.h3-right img {
  width: 610px;
}

@media only screen and (max-width: 768px) {
  .h3-right img {
    width: 100%;
    margin-top: 50px;
  }
}

.h3-arrows.c4-arrows {
  margin: 40px 0 0 auto;
}

.home-4th {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #f5f7f9;
}

@media only screen and (max-width: 768px) {
  .home-4th {
    flex-direction: column;
  }
}

.h4-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .h4-cards {
    flex-direction: column;
    margin-top: 3rem;
  }
}

.h4-cards .s5-card {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 4px;
  box-shadow: 0px 25px 15px -20px rgb(135 138 170 / 20%);
}

.h4l-card {
  margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .h4l-card {
    margin-left: 0;
  }
}

.h4-cards .s5-card p {
  margin: 0;
}

.home-5th {
  padding: 40px 40px 200px;
  background-color: #f5f7f9;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .home-5th {
    flex-direction: column;
    padding-bottom: 500px;
  }
}

.h5-right {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .h5-right {
    margin-top: 50px;
  }
}

.h5r-img {
  width: 545px;
}

@media only screen and (max-width: 768px) {
  .h5r-img {
    display: block;
    width: 90%;
    margin-left: auto;
  }
}

.h5-cards.a4-cards {
  margin-top: 0;
  position: absolute;
  left: -60px;
  bottom: -70px;
}

@media only screen and (max-width: 768px) {
  .h5-cards.a4-cards {
    width: 100%;
    left: 0;
    bottom: 0;
    top: 100px;
  }
}

.h5-cards.a4-cards p {
  background-color: #17191b;
  color: #fff;
}

.h5-cards.a4-cards p .quote-left {
  color: #60606a;
}

.h5-arrows.c4-arrows {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -120px;
}

@media only screen and (max-width: 768px) {
  .h5-arrows.c4-arrows {
    bottom: -390px;
  }
}

.home-6th {
  padding: 100px 40px;
}

.h6-1st {
  color: #4f2ec9;
}

.h6-head {
  margin: 20px 0 30px;
}

.h6-desc {
  margin: 0 330px;
}

@media only screen and (max-width: 768px) {
  .h6-desc {
    margin: 0;
  }
}

.home-6th .h6-1st,
.home-6th .h6-head,
.home-6th .h6-desc {
  text-align: center;
}

.h6-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .h6-cards {
    flex-direction: column;
  }
}

.h6-card {
  transition: all 300ms ease;
  border-radius: 4px;
  margin: 10px;
  background-color: #f5f7f9;
  padding: 30px;
}

.h6-card:hover {
  transform: translate(0, -10px);
}

.h6-mb-5 {
  margin-bottom: 3rem;
}

.h6-mt-5 {
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .h6-mt-5 {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.h6c-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 40px 0;
}

.h6-card h5 {
  font-weight: 400;
}

.h6-arr {
  padding: 4px 12px 10px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}

.h6-card:hover .h6-arr {
  color: #fff;
  background-color: #4f2ec9;
}

.h6-bottom {
  width: fit-content;
  margin: 0 auto;
}

.h7-pin {
  position: absolute;
  right: 30px;
  bottom: -20px;
  padding: 4px 12px 10px;
  background-color: #52e2bb;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}

.home-7th .c4c-body h4 {
  font-weight: 400;
}

.home-7th .c4cb-foot span {
  margin: 0 7px;
}

.home-7th .c4cb-foot svg {
  margin: 0;
  font-weight: 600;
}

.home-7th .c4-last {
  margin-top: 60px;
}

.home-7th .c4-last span {
  font-weight: 500;
  padding-bottom: 6px;
}

.swim-footer {
  background-color: #17191b;
  padding: 80px 40px;
  color: #b8b8bf;
}

@media only screen and (max-width: 768px) {
  .swim-footer {
    padding: 80px 20px;
  }
}

.footer-top {
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 0.1px solid #aaa;
}

.footer-top h6 {
  font-size: 15px;
}

.footer-top h2 {
  color: #fff;
  margin: 10px 360px;
}

@media only screen and (max-width: 768px) {
  .footer-top h2 {
    margin: 10px 0px;
  }
}

.btn-outline-reverse {
  color: #fff;
  background-color: #4f2ec9;
  border: 2px solid #4f2ec9;
  border-radius: 999px;
  padding: 13px 40px;
  font-weight: 500;
  margin-top: 35px;
}

.btn-outline-reverse:hover {
  color: #4f2ec9;
  background-color: transparent;
  border-color: #4f2ec9;
}

.swim-footer .btn-outline-reverse {
  color: #fff;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  border-bottom: 0.1px solid #aaa;
}

@media only screen and (max-width: 768px) {
  .footer-middle {
    flex-direction: column;
  }
  .footer-middle > div {
    margin-top: 55px;
  }
}

.fm-desc {
  width: 280px;
  margin: 40px 0;
}

.fm-phone {
  color: #17191b;
  background-color: #b8b8bf;
  padding: 7px 15px 12px;
  border-radius: 50%;
  font-size: 25px;
  margin-right: 30px;
}

.footer-middle .loc {
  margin-right: 40px;
  font-size: 25px;
}

.footer-links {
  cursor: pointer;
}

.footer-links:hover {
  color: #fff;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
}

@media only screen and (max-width: 768px) {
  .footer-end {
    flex-direction: column;
  }
  .footer-end > div {
    margin-top: 35px;
  }
}

.social-icons {
  padding: 8px 15px 15px;
  color: #17191b;
  background-color: #b8b8bf;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}
